.footerLinks {
}
.footerLinks__box {
}
.footerLinks__mini-boxes {
}
.footerLinks__mini-boxes-texts {
  font-family: "ABCMonumentGrotesk";
}
.footerLinks__mini-boxes-email {
  font-family: "ABCMonumentGrotesk";
}
.footerLinks__mini-boxes-titles {
  font-family: "ABCMonumentGrotesk";
}