.footer__copy-box {
}
.footer__copy-text {
  font-family: "ABCMonumentGrotesk";
}
.footer__copy-logo-box {
}
.footer__developing-text {
  font-family: "ABCMonumentGrotesk";
}
.footer__copy-logo-link {
}
.footer__copy-logo-text {
  font-family: "ABCMonumentGrotesk";
}