.secondSlider {
}
.secondSlider__container {
}
.secondSlider__top {
}
.secondSlider__title {
  font-family: "ABCMonumentGrotesk";
}
.secondSlider__title-span {
  font-family: "ABCMonumentGrotesk";
}
.secondSlider__main-box {
}
.secondSlider__main-title {
  font-family: "ABCMonumentGrotesk";
}
.secondSlider__mini-box {
}
.secondSlider__mini-box-title {
  font-family: "ABCMonumentGrotesk";
}
.secondSlider__mini-box-text {
  font-family: "ABCMonumentGrotesk";
}
.secondSlider__thumb-images {
}