.slider {
}
.slider__container {
}
.slider__top-box {
}
.slider__top-box-title {
  font-family: "ABCMonumentGrotesk";
}
.slider__top-box-title-span {
  font-family: "ABCMonumentGrotesk";
}
.slider__main-box {
}
.slider__main-title {
  font-family: "ABCMonumentGrotesk";
}
.slider__mini-box {
}
.slider__mini-box-image {
}
.slider__mini-box-text {
  font-family: "ABCMonumentGrotesk";
}
.slider__thumb-images {
}