.strategy__title {
	font-family: "ABCMonumentGrotesk";
}
.strategy__title-span {
	font-family: "ABCMonumentGrotesk";
}

.strategy__bottom-mini-boxes-texts {
	font-family: "ABCMonumentGrotesk";
}

.tab_button {
	display: grid;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
  font-weight: 600;
  text-wrap: nowrap;
}
.tab_button:hover > svg > path {
	transition: all 0.3s ease;
}
.tab_button:hover {
	border-color: #fac125;
	color: #fac125;
}
.tab_button:hover > svg > path {
	fill: #fac125;
}

.tab_button.active_tab {
	border-color: #fac125;
	color: #fac125;
}

.tab_button.active_tab > svg > path {
	fill: #fac125;
}

.project_card .navigate_button {
	width: 160px;
	height: 48px;
	background: rgb(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border: 1px solid #fac125;
	color: #fac125;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scaleY(0);
	transition: transform 0.3s ease;
	cursor: pointer;
}

.project_card .icon {
	transition: transform 0.3s ease;
}

.project_card:hover .navigate_button {
	transform: translate(-50%, -50%) scaleY(1);
}

.project_card:hover .icon {
	transform: rotate(45deg);
}

@media (max-width: 1024px) {
	.strategy__title {
		font-family: "ABCMonumentGrotesk";
	}
	.strategy__title-span {
		font-family: "ABCMonumentGrotesk";
	}

	.strategy__bottom-mini-boxes-texts {
		font-family: "ABCMonumentGrotesk";
	}
}
@media (max-width: 767px) {
	.strategy__title {
		font-family: "ABCMonumentGrotesk";
	}
	.strategy__title-span {
		font-family: "ABCMonumentGrotesk";
	}

	.strategy__bottom-mini-boxes-texts {
		font-family: "ABCMonumentGrotesk";
	}
}

@media (max-width: 640px) {
  .tab_button {
    font-size: 12px;
  }
  .tab_button > svg {
    width: 18px;
    height: 18px;
  }
}
